<script>
    var masonryConfig = {
		gridData: {{ data | dump }}
	};
</script>

<div class="masonry-container">
    <div class="grid-loading-screen">
		<div class="loadingSpinner">
			<div class="spinner"></div>
			<div class="inner icon-logo"></div>
		</div>
	</div>
    <div class="modal-tech-wrapper">
        <div id="modal-tech">
        </div>
    </div>
    <div class="inner">
        <div class="grid"></div>
    </div>
</div>

<div id="modal-bg"></div>
