@import 'flex-grid/flex-grid';
@import 'flex-grid/flex-containers';
@import 'flex-grid/flex-items';

.pods-bg-img-copy-overlay {
	margin-top: aoSpace(5);
	margin-bottom: aoSpace(5);

	.pod-item {
		height: 250px;
	}

	a {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #cccccc;
		background-position: center;
		background-size: cover;
		color: #ffffff;
		border-radius: $border-radius;
		overflow: hidden;

		h3 {
			@include font-size(20);

			&::after {
				display: inline;
				content: '\a0\2c3';
				vertical-align: initial;
				margin-left: aoSpace(1);
				font-family: ao-icons;

				@include font-size(14);
			}
		}
	}

	p {
		margin-top: aoSpace();
	}

	.pods-bg-img-copy-overlay-content {
		$gradientValue: aoSpace(7);

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: $gradientValue aoSpace(2) aoSpace(2);
		word-wrap: break-word;
		background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0.5) $gradientValue);

		.ie9 & {
			background: rgba(black, 0.33);
		}
	}
}

.centred-heading-with-line {
	h2 {
		@extend %header-content-title;

		background-color: #ffffff;
	}

	position: relative;
	z-index: 1;
	margin-top: aoSpace(5);
	margin-bottom: aoSpace(5);
	text-align: center;
	background-color: inherit;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: rgba(0, 0, 0, 0.15);
	}
}

.centred-heading-with-line-content {
	display: inline-block;
	position: relative;
	max-width: 90%;
	margin-top: 0;
	padding-right: aoSpace(2);
	padding-left: aoSpace(2);
	word-wrap: break-word;
	background-color: inherit;
}
