{% macro brandImage(lang, name, isLightVariant) %}
	<amp-img width="150" height="50" src="//media.ao.com/{{ lang }}/brand-logos/{{ name | toBrandSprite }}.png" alt="{{ name }}"></amp-img>
{% endmacro %}

{% if section.isLightVariant %}
	{% set isLightVariant = section.isLightVariant %}
{% elif item.isLightVariant %}
	{% set isLightVariant = item.isLightVariant %}
{% else %}
	{% set isLightVariant = false %}
{% endif %}

<section class="brands">
	<div class="inner">
		{% for brand in data.brands %}
			{% if loop.first %}
				<h2>Shop by brand</h2>
			{% endif %}
			{% if loop.index === (loop.length - 1) %}
				<span class="no-wrap">
				{% endif %}
				{% if brand.url %}
					<a href="{{ brand.url }}">
						{{ brandImage(config.lang, brand.name, isLightVariant) }}
					</a>
				{% else %}
					{{ brandImage(config.lang, brand.name, isLightVariant) }}
				{% endif %}
				{% if loop.index === loop.length %}
				</span>
			{% endif %}
		{% endfor %}
	</div>
</section>

{% set isLightVariant = false %}
