@import '../../globals/sass/variables';

.c-product-card-list__item {
	display: flex;
	border-radius: 4px;
}

.c-product-card-list__item {
	&:first-of-type {
		margin-left: 16px;
	}
}

.c-product-card-list__item-inner {
	min-width: 200px;
	max-width: 300px;
	padding: 16px;
	border-radius: 4px;
	background-color: #ffffff;
	white-space: normal;
}
