@import '../../globals/sass/variables';

.c-product-card-list__item {
	display: flex;
	border-radius: 4px;
}

.c-product-card-list__item {
	&:first-of-type {
		margin-left: 16px;
	}

	&:last-of-type {
		margin-right: 16px;
	}
}

.c-product-card-list__item-inner {
	min-width: 250px;
	max-width: 300px;
	padding: 16px;
	border: 1px solid #dfe3e6;
	border-radius: 4px;
	background-color: #ffffff;
	white-space: normal;
}

.rating {
	display: flex;
	align-items: center;
}

.brand-logo {
	display: block;
	align-self: center;
	width: auto;
	height: auto;
	max-height: 25px !important;
}

.container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.label {
	width: auto;
	padding: 4px 8px;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	background-color: #c22035;
}
