<section class="video-gallery">
	<div class="inner">
		<h3>{{ data.header }}</h3>
		<div class="video-container">
			<div style="display: block; position: relative; max-width: 100%;">
				<div style="padding-top: 56.25%;">
					<video id="playlist-test" data-playlist-id="{{ data.playlistId }}" data-account="5486793286001" data-player="BklxcyvMNb" data-embed="default" data-application-id class="video-js" controls style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"></video>
					<script src="//players.brightcove.net/5486793286001/BklxcyvMNb_default/index.min.js"></script>
				</div>
			</div>
		</div>
		<ul class="video-gallery-thumbnails"></ul>
	</div>
</section>
