@import '../../globals/sass/variables';
@import '../../globals/sass/mixins';

.c-heading-divide {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 16px 0;
	color: #000000;

	&::before,
	&::after {
		content: '';
		flex: 1;
		height: 1px;
		background-color: #000000;
	}

	&::before {
		margin-right: 16px;
	}

	&::after {
		margin-left: 16px;
	}
}

.c-heading-divide--dark {
	color: #ffffff;

	&::before,
	&::after {
		background-color: #ffffff;
	}
}
