@import '../../globals/sass/variables';
@import '../../globals/sass/mixins';


.inner {
  @include aoContainer();

  padding: 0;
  margin: 0 auto;
}

.button {
  @include ao-cta();
  margin: 0 4px;
}

.button-container {
  overflow-x: scroll;
  display: flex;

  @media (min-width: $tablet) {
    display: block;
    overflow: visible;
    text-align: center;
  }
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-image {
  display: block;

  img {
    width: 100%;
  }
}

.dp-pill {
  flex-shrink: 0;
  flex-grow: 0;
  display: inline-block;
}
