@import '../../globals/sass/variables';
@import '../../globals/sass/mixins';


.inner {
  @include aoContainer();
}

.button {
  @include ao-cta();
  margin: 0 4px;
}

.button-container {
  overflow-x: scroll;
  display: flex;
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-image {
  display: block;

  img {
    width: 100%;
  }
}
