@import '../../globals/sass/variables';
@import '../../globals/sass/mixins';


:global {.stars {
  @include responsiveStars(
    $fontSize: 12,
    $bgColor: rgba(125, 185, 232, 0),
    $emptyStarColour: #a3abb1,
    $filledStarColour: #f8d200
  );
  margin: 4px aoSpace() 4px 0;
}}

.c-product-card-list__item {
  background-color: #ffffff;
  padding: 10px;
  font-size: 10px; // Reset font-size: 0 hack on container
  white-space: normal;
  width: 100%;
  max-width: 300px;
  border-radius: $border-radius;
  border: 1px solid $aoGrey;
  margin: 0 auto;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .rating {
    display: flex;
    align-items: center;
  }
}
