.c-product-card-list {
  display: flex;
  flex-grow: 1;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 0; // Hack to remove gaps between inline-block elements (instead of using HTML comments)
}
