.c-product-card-list {
	overflow: hidden;
}

.c-product-card-list--category {
	margin-top: 48px;
	background-color: #ffffff;
}

.c-product-card-list__inner {
	flex-wrap: nowrap;
	overflow-x: auto;
}

.header {
	margin-bottom: 8px;
}
