:global {
  @import './globals/AMP/amp-global';
  @import './globals/sass/variables';
  @import './globals/sass/mixins';

  .inner {
    @include aoContainer();
  }

  body {
    margin: 0;
  }

  #root {
    max-width: 100%;
  }

  .ao-header {
    .ao-logo {
      margin: 0;
    }
  }

  .ao-false-nav {
    height: 42px;
    width: 100%;
    background-color: #3d4042;
  }
}
